 
.Cursor {
  pointerevents: "none";
  position: "fixed";
  display: "block";
  borderradius: "0";
  transformorigin: "center center";
  mixblendmode: "difference";
  top: "0";
  left: "0";
  zindex: "9999999999999999";
}

.Cursor span {
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  background-color: #fff;
  transform-origin: center center;
  transform: translate(-50%, -50%);
}
 